@import "tailwindcss";

@theme {
    --color-body-bg: var(--color-neutral-900);
    --color-body-text: var(--color-zinc-200);
    --color-primary: var(--color-green-600);
    --color-primary-contrast: var(--color-green-100);

    --font-sans:
        Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --spacing-gutter: 16px;
}
